<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <title>Рассчитаем индекс массы тела</title>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

  <h1> BMI </h1>
    <div id="contener">

    </div>

</body>
<style>
input[type="button"] {
    width: 50px;
    height: 50px;
}
<style>
<script>
     function bmi_get(){
        axios.get('/bmi_get', {})
    .then(function (response) {

        console.log(response)
        alert(response.data)
    })}
</script>
</html>