<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Введите данные</title>
</head>
<body>
<h1>Добавьте свои данные</h1>
<form action="/nutrition/create" method="post">
    <input placeholder="Ввести продукт" type="text" name="food" >
    <input placeholder="Количество выпитой воды"  name="water" >
    <input placeholder="Тренировка" name="workout" >
    <input type="submit" value="PUSH">
<hr/>  <!-- Тут разделяем заголовок и текст сплошной чертой -->
</form>
<h2>
<title> ФОРМУЛА СБАЛАНСИРОВАННОГО ПИТАНИЯ 1:1:4</title>
    </h2>

<p>Потребление жиров не должно превышать 30% от общей потребляемой энергии</p>
<p>Насыщенные жиры должны составлять менее 10%</p>
<p>Трансжиры – менее 1%</p>
<p>Сокращение потребления свободных сахаров до менее 10%</p>
<p>Потребление менее 5 г/день соли/35 г мес</p>
<p>Доля белков должна обеспечивать от 10 до 15%, углеводов – от 55 до 75%</p>

 </html>